
html{
    box-sizing: border-box;
    color:rgb(127,0,0,1.0);;
    background-image:url(https://cdn.shopify.com/s/files/1/0406/1387/1783/articles/coffee_whole_bean_heart_1445x.jpg?v=1627934084);
    background-size:cover;


}
#Welcome,#Energy,#lorem-ipsum{
    display: flex;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    z-index:2;
    margin-top:5%;
    background:repeating-linear-gradient(
        rgb(245,245,245) 0%,
        white 5%
    );
    padding-right: 35px;

}
#submit{
    position: relative;
    margin-left:47%;
    padding: 20px;
    border-radius: 3%;
    font-size:large;
    font-family: Times, serif;
    margin-top:20px;
}